<div class="mx-5 py-3">
  <h1>Restaurants</h1>

  <ul>
    <% @restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name, restaurant_path(restaurant), class: "no-underline" %></li>
    <% end %>
  </ul>
</div>
